.car-content {
    margin-top: 46px;
    display: flex;
    gap: 20px;
    padding-left: 94px;
    padding-right: 68px;

    .car-content-main {
        flex: 3;

        .car-title {
            color: #000;
            font-family: 'Quicksand', sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 50px;
        }

        .content__nav-list {
            display: flex;
            list-style: none;
            gap: 25px;
            margin-left: 12px;

            .content__nav-item:first-child {
                background: rgba(225, 227, 130, 0.50);
            }

            .content__nav-item {
                border-radius: 10px;
                background: rgba(132, 227, 130, 0.50);
                padding: 4px 8px;

                .content__nav-link {
                    color: #000;
                    font-family: 'Inter', sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    text-decoration: none;
                    line-height: normal;
                }
            }

        }

        .content_nav-hr {
            margin-top: 36px;
        }

        .content-section {
            margin-top: 30px;
            margin-bottom: 60px;

            .content-section-title {
                color: #000;
                font-family: 'Quicksand', sans-serif;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 8px;
            }

            .list-characteristic {
                margin-top: 16px;
                display: flex;
                gap: 80px;

                .content-section-characteristic {
                    display: flex;
                    align-items: center;
                    margin-left: 4px;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    .characteristic-item {
                        margin-left: 24px;

                        span {
                            color: #A6A6A6;
                            font-family: Inter;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        p {
                            color: #000;
                            font-family: Quicksand;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }
                    }
                }
            }

            .content-section-des {
                margin-top: 4px;
                color: #898989;
                font-family: 'Quicksand', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: -26px;
            }

            .collateral-des {
                border-radius: 10px;
                background: #FFF1EA;
                padding: 18px;
                margin-top: 24px;
                margin-bottom: 24px;

                span {
                    padding-left: 38px;
                    color: #757070;
                    font-family: 'Quicksand', sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                .first {
                    margin-top: 12px;
                }

                .collateral-item {
                    padding-left: 24px;
                }

                p {
                    color: #000;
                    font-family: 'Quicksand', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }

            .collateral-des:last-child {
                margin-bottom: 0;
            }

            .address-detail {
                display: flex;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 16px;

                p {
                    color: #000;
                    font-family: 'Quicksand', sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-left: 12px;
                }
            }

            .address-des {
                color: #787878;
                font-family: 'Quicksand', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-left: 16px;
            }
        }
    }

    .car-content-right {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 24px;

        .item-info-right {
            border-radius: 10px;
            border: 1px solid #000;
            background: #E1F4FF;
            padding: 33px 31px 27px 31px;

            .price-detail {
                color: #000;
                font-family: Inter;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 24px;
            }

            .info-right-hr {
                background: #8D8D8D;
                height: 1px;
                margin: 14px 0;
            }

            .total_money {
                display: flex;
                justify-content: space-between;
                padding: 0 6px;

                span {
                    color: #777;
                    text-align: right;
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                p {
                    color: #000;
                    text-align: right;
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin-bottom: 24px;
                }
            }

            .rent {
                border-radius: 10px;
                border: 1px solid #6D6D6D;
                background: rgba(98, 222, 250, 0.64);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                p {
                    color: #000;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    display: flex;
                    align-items: center;
                    padding: 16px 0;

                    &::before {
                        content: url('/images/lighting.png');
                        margin-right: 16px;
                    }

                }


            }

            .surcharges {
                color: #000;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-left: -8px;
            }

            .container-surcharges {
                margin-top: 16px;
                display: flex;
                flex-direction: column;
                gap: 12px;

                .item-surcharges {
                    display: flex;
                    position: relative;

                    img {
                        width: 20px;
                        height: 20px;
                        margin-right: 8px;
                    }

                    p {
                        color: #000;
                        font-family: Inter;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    span {
                        color: #757575;
                        font-family: Inter;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    .price {
                        position: absolute;
                        right: 0;
                        color: #000;
                        font-family: Inter;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }
}